<div class= "container-fluid">
<h4 class="text-center">Shopping Cart</h4>
<div>Items: {{ data.order.items.length }}</div>


    <table class="table-responsive table-condensed   table-hover bg-light">
        <thead>
            <tr>
                <td style="font-size:small">Item</td>
                <td style="font-size:small">#</td>
                <td style="font-size:small">Total</td>
          
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let o of data.order.items">
                <td style="font-size:x-small">{{ o.productBrand }}-{{ o.productModel }}</td>
                <td style="font-size:x-small">{{ o.quantity }}</td>
                <td style="font-size:x-small">{{ (o.unitPrice * o.quantity) | currency:"USD":true }}</td>

            </tr>
        </tbody>
        <caption> <strong>  Subtotal:  {{ data.order.subtotal | currency: "USD":true }} </strong></caption>
    </table>
</div>
<!--The () parenthesis are for event handlers its a call back saying call OnCheckout when the event click has happened-->
<button class="btn btn-success " *ngIf="data.order.items.length > 0" (click)="onCheckout()">Checkout</button>
   

    