
<h4>Shopping Cart</h4>
<div>Items: {{ data.order.items.length }}</div>
<div>Subtotal: {{ data.order.subtotal | currency: "USD":true }}</div>

<table class="table table-condensed table-striped table-sm table-hover bg-light">
    <thead>
        <tr>
            <td>Product</td>
            <td>#</td>
            <td>$</td>
            <td>Total</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let o of data.order.items">
            <td>{{ o.productBrand }}-{{ o.productModel }}</td>
            <td>{{ o.quantity }}</td>
            <td>{{ o.unitPrice | currency:"USD":true }}</td>
            <td>{{ (o.unitPrice * o.quantity) | currency:"USD":true }}</td>
        </tr>
    </tbody>
</table>
<!--The () parenthesis are for event handlers its a call back saying call OnCheckout when the event click has happened-->
<button class="btn btn-success" *ngIf="data.order.items.length > 0" (click)="onCheckout()">Checkout</button>


    