.product-info img {
    max-width: 90px;
   
    margin: 0 1px;
    border: solid 1px black;
}

.product-info .product-name {
    font-weight: bold;
    font-size:small;
    display:inline;
    text-align:center;

}
