<div class="row">

    <div class="product-info col-md-4 well well-sm"  *ngFor="let p of products">
        <div class="card bg-light p-1 m-1"> 
        <img src="/images/{{ p.productImage }}.jpg"  [alt]="p.productImage" />
        <div class="product-name"> {{ p.productBrand }} - {{ p.category }} </div>
    <!--    <ul class="product-props list-unstyled">    -->
            <div><strong>Price:</strong> {{ p.productPrice }} </div>
            <div><strong>Model:</strong> {{ p.productModel }}</div>
            <div><strong>Description:</strong> {{ p.description }}</div>
            <div><strong>Color:</strong> {{ p.productColor }}</div>
            <div><strong>Size:</strong> {{ p.productSize }}</div>

      <!--  </ul>    -->
        <button id="buyButton" class="btn btn-success btn-sm pull-right" (click)="addProduct(p)">Buy</button>
    </div>
    </div>
</div>