
@{
    ViewData["Title"] = "About";
}

<h2 class="text-center"><strong>About Us</strong></h2>
<div class="jumbotron-fluid">
<p>This web application is a fictional online store selling motocross gear and parts(coming soon) The images have been taking off Rocky Mountain ATV and no products can be purchased from this site</p>
 </div>









<!--
<div class="container">
    <a href="#demo" class="btn btn-primary" data-toggle="collapse">a>
    <div id="demo" class="collapse">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
</div>
    -->