<div class="row">
    <div class="col-sm-3">TODO Add something relevant
    
        <div class="card">
            <h2></h2>

            <img class="card-img-top" src="~/images/KaraFaithMe.jpg" alt="TODO"  style="width:100%">

            <h4 class="card-title">Chris Kaye</h4>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>






            </div>



            <div class="col-sm-9">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1>MOTOSTORE ONLINE!</h1>
                        <p>Thanks for visiting your premier online motorcycle parts and accesories store</p>
                        <div class="container btn-group">
                            <button type="button" class="btn btn-outline-primary spinner-border"></button>
                            <button type="button" class="btn btn-outline-secondary">TODO</button>
                            <button type="button" class="btn btn-outline-success">TODO</button>
                            <button type="button" class="btn btn-outline-info">TODO</button>
                            <button type="button" class="btn btn-outline-warning">TODO</button>
                            <button type="button" class="btn btn-outline-danger">TODO</button>
                            <button type="button" class="btn btn-outline-dark">TODO</button>
                            <button type="button" class="btn btn-outline-light text-dark spinner-border"></button>
                        </div>

                    </div>
                </div>

                <div class="container">
                    <div class="alert alert-success alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Welcome!</strong> Thanks for checking out my web application.
                    </div>
                    <div class="spinner-grow text-muted"></div>
                    <div class="spinner-grow text-primary"></div>
                    <div class="spinner-grow text-success"></div>
                    <div class="spinner-grow text-info"></div>
                    <div class="spinner-grow text-warning"></div>
                    <div class="spinner-grow text-danger"></div>
                    <div class="spinner-grow text-secondary"></div>
                    <div class="spinner-grow text-dark"></div>
                    <div class="spinner-grow text-light"></div>
                    <div class="spinner-border text-muted"></div>
                    <div class="spinner-border text-primary"></div>
                    <div class="spinner-border text-success"></div>
                    <div class="spinner-border text-info"></div>
                    <div class="spinner-border text-warning"></div>
                    <div class="spinner-border text-danger"></div>
                    <div class="spinner-border text-secondary"></div>
                    <div class="spinner-border text-dark"></div>
                    <div class="spinner-border text-light"></div>
                    <div class="alert alert-warning alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>In Progress!</strong> This site is a work in progress.
                    </div>
                    <div class="alert alert-danger alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Careful!</strong> Most links do not work correctly yet.
                    </div>
                    <div class="card-columns">
                        <div class="card bg-primary">
                            <div class="card-body text-center">
                                <p class="card-text">Well</p>
                            </div>
                        </div>
                        <div class="card bg-warning">
                            <div class="card-body text-center">
                                <p class="card-text">Name</p>
                            </div>
                        </div>
                        <div class="card bg-success">
                            <div class="card-body text-center">
                                <p class="card-text">Hello</p>
                            </div>
                        </div>
                        <div class="card bg-danger">
                            <div class="card-body text-center">
                                <p class="card-text">Is</p>
                            </div>
                        </div>
                        <div class="card bg-light">
                            <div class="card-body text-center">
                                <p class="card-text">My</p>
                            </div>
                        </div>
                        <div class="card bg-info">
                            <div class="card-body text-center">
                                <p class="card-text">Chris</p>
                            </div>
                        </div>
                    </div>


                </div>


            </div>


        </div> 