@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-9">
        <div class="BikeProduct">
            <img src="~/images/tuskaluminumpipeguard.jpg" />
            <h3>Pipe Guard</h3>
            <ul class="product-props">
                <li>Price:</li>
                <li>Brand:</li>
                <li>Description:</li>
            </ul>
            <button id="buyButton" class="btn btn-success">Buy</button>
        </div>
    </div>
</div>








<body>
    <div class="BikeProduct">
        <img src="~/images/fmfgoldseries.jpg" />
        <ul>Brand: FMF</ul>
        <ul>Product: Gold Series</ul>
        <ul>Description: Chrome Plated</ul>
        <button id="buyButton" class="btn btn-success">Add</button>
    </div>   
    <div class="BikeProduct">

        <img src="~/images/fmfcoresilencer.jpg" />
        <ul>Brand: FMF</ul>
        <ul>Product: Silencer</ul>
        <ul>Description: Turbine Core</ul>
        <button id="buyButton" class="btn btn-success">Add</button>
    </div>



</body>
