@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="BikeProduct">
        <ul>Brand:</ul>
        <ul>Product:</ul>
        <ul>Description:</ul>
        <img href="" />
        <button type="submit">Add</button>
    </div>



</body>
