@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="BikeProduct">
        <img src="~/images/fmfgoldseries.jpg" />
        <ul>Brand: FMF</ul>
        <ul>Product: Gold Series</ul>
        <ul>Description: Chrome Plated</ul>


        <button id="buyButton" class="btn btn-success">Add</button>
    </div>   
    <div class="BikeProduct">

        <img src="~/images/fmfcoresilencer.jpg" />
        <ul>Brand: FMF</ul>
        <ul>Product: Silencer</ul>
        <ul>Description: Turbine Core</ul>


        <button id="buyButton" class="btn btn-success">Add</button>
    </div>



</body>
